.background {
  content: "";
  /*position: fixed;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c9d7db !important;
  background-position: 88% 50% !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-attachment: fixed !important;
  height: 100% !important;
  z-index: 0;
  animation: f17imgfade 0.5s 0s 1 cubic-bezier(0, 0, 0.2, 1) forwards
}

.card {
  position: relative;
  width: 88%;
  height: 80%;
  top: 3%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  border-radius: 8px
}

.ui-100 {
  float: center;
  box-sizing: border-box;
  padding: .5em;
}

.ui-33 {
  width: 33.3333%;
  float: left;
}

table {
  width: 100%;
}
